streamlit>=1.32.0
spacy==3.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
vaderSentiment>=3.3.2
dateparser>=1.2.0
beautifulsoup4>=4.12.0
